.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  min-height: 30px;
  background-color: rgb(206, 193, 218);
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

@media only screen and (min-width: 650px) {

  nav{
    display: flex;
    justify-content: space-around;
    min-height: 30px;
    background-color: rgb(206, 193, 218);
    color: white;
  }
  
}
